/*  CSS For the nav bar*/
#parksnavbar {
  height: 100px;
  padding-top: 200px;
  color: black;
}



#parksNavlist  {
  display: inline;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#parksNavlist li {
  float: right;
  color: black;
}

#parksNavlist li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* chnage the link color to #111(black)on hover */
#parksNavlist li a:hover {
  background-color: white;
  border-bottom: 5px solid darkgreen;
}

#parksNavlist li a:active {
  background-color: white;
  border-bottom: 5px solid darkgreen;
}


#room1 img{
  height: 170px;
  width:390px;
}

#room2 img {
  height: 170px;
  width: 390px;
}

#room3 img {
  height: 170px;
  width: 390px;
}

.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 170px;
  align-content: center;
}

#myvideo {
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -1;
}
