/*  CSS For the nav bar*/

.navbar-brand{
  font-size: 35px;
  color: black;

}
#navBarLakes{
  background-color: #DAA652;
  /* #D96409; */
  border: solid white;
  color: black;

}
#navBarRow{
  margin-left: -20px;
  margin-right: -20px;
}

#lakesNavList li a{
  padding-top: 14px;

    color: black;
}
#lakesNavList li a:hover {
    background-color: black;
    color: white;
    border-bottom: 5px solid #D96409;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    border-radius: 2px;

}
#parksnavbar {
  height: 100px;
  padding-top: 200px;
  color: black;
}



#parksNavlist  {
  display: inline;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#parksNavlist li {
  float: right;
  color: black;
}

#parksNavlist li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* chnage the link color to #111(black)on hover */
#parksNavlist li a:hover {
  background-color: white;
  border-bottom: 5px solid darkgreen;
}

#parksNavlist li a:active {
  background-color: white;
  border-bottom: 5px solid darkgreen;
}


#room1 img{
  height: 170px;
  width:390px;
}

#room2 img {
  height: 170px;
  width: 390px;
}

#room3 img {
  height: 170px;
  width: 390px;
}

#lakesGallery h3{
  text-align: center;
  font-style: italic;
}
#lakesGallery{
  height: 350px;
  /* border: solid black; */
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 30px;
}
